.container {
  position: relative;
  width: 100%;
  height: 100%;

  .card {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    padding: 0rem 0.8rem;

    .overview-wrapper {
      overflow: auto;
    }

    .overview-main {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
      grid-auto-rows: minmax(3rem, auto);
      gap: 6px;
      padding: 10px;
    }
  }
}

.skeleton {
  height: 100%;
  padding: 3rem;

  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
}
