.container {
  position: relative;
  display: flex;
  height: 100svh;

  background-color: black;

  .side-content {
    position: relative;
    width: 30svw;
    min-width: 28rem;
    max-width: 40rem;
    padding: 1rem;
  }

  .main-content {
    width: 100svw;
    position: relative;
    padding: 1rem;
  }
}
