.container {
  position: relative;
  display: flex;
  height: 100%;

  overflow: hidden;

  background-color: black;

  .side-content {
    position: relative;
    width: 49svw;
    min-width: 32rem;
    max-width: 40rem;
    padding: 1rem;
  }

  .main-content {
    width: 100svw;
    position: relative;
    padding: 1rem;
  }
}
