.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100svw;
  height: 100svh;

  display: flex;
  flex-direction: column;

  .nav {
    height: 5svh;
    padding: 0.5rem;

    display: flex;
    align-items: center;

    background-color: white;

    & > a {
      padding-left: 2rem;

      &:hover {
        transform: scale(1.1);
        text-decoration: underline;
      }
    }

    & > button {
      height: 2.5rem;
      margin-left: auto;
      margin-right: 0.5rem;
    }
  }

  .pages {
    height: 95svh;
  }
}
